

// colors
$white: white;
$milky : #e4e4e4;
$mutted: #9b9b9b;
$light-blue: #7171ff;
$blue : #473aff;
$dark-blue: #0000ff;
$orange: #ffa500;
$dark-orange: #dd7d00;
$green: #13a513;
$dark: #444444;
$pink: #ffbcc7;
$light-red: #ff6e6ec7;
$red: #ff3434;
$black: #0f0f0f;
